In [44]:
import pandas as pd

In [45]:
df = pd.read_excel(r"C:\Users\samee\OneDrive\Documents\DA Works\Pandas Clean\Customer Call List.xlsx")

In [46]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         21 non-null     int64
 1   First_Name         21 non-null     object
 2   Last_Name          20 non-null     object
 3   Phone_Number       19 non-null     object
 4   Address            21 non-null     object
 5   Paying Customer    21 non-null     object
 6   Do_Not_Contact     17 non-null     object
 7   Not_Useful_Column  21 non-null     bool
dtypes: bool(1), int64(1), object(6)
memory usage: 1.3+ KB

In [48]:
df.head(10)

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True

In [49]:
#Removed duplicates Existed 
df.drop_duplicates(inplace = True)

In [50]:
#Dropped unnnesary column
df.drop(columns = "Not_Useful_Column", inplace = True)

In [51]:
df['Last_Name'] = df['Last_Name'].str.lstrip('...') # Cleaning and removing using .str.lstrip - leftstrip, and assigning only to collumn df['Last_Name']

In [52]:
df['Last_Name'] = df['Last_Name'].str.lstrip('/')

In [53]:
df['Last_Name'] = df['Last_Name'].str.rstrip('_')

In [64]:
df['Phone_Number'] = df['Phone_Number'].str.replace(r'[^a-zA-Z0-9]', '', regex=True) # Removing unnessary characters from phone no. , Function is Regex

In [66]:
#another way 
df['Phone_Number'] = df['Phone_Number'].str.replace(r'[-/]', '', regex=True)

In [68]:
df['Phone_Number'].apply(lambda x : str(x)) #converting number to a string

0     1235455421
1     1236439775
2            nan
3     1235432345
4     8766783469
5     3047622467
6            nan
7     8766783469
8             Na
9     1235455421
10           nan
11           nan
12    1235432345
13    8766783469
14    3047622467
15    1235455421
16    1236439775
17           nan
18            Na
19    8766783469
Name: Phone_Number, dtype: object

In [70]:
df['Phone_Number'] =df['Phone_Number'].astype(str) # better alternative

In [72]:
df['Phone_Number'] = df['Phone_Number'].apply(lambda x: x[0:3] + '-' + x[3:6] + '-' + x[6:10]) #adding - in between

In [74]:
df['Phone_Number'] = df['Phone_Number'].replace('nan--','') #replacing nan-- with blank
df['Phone_Number'] = df['Phone_Number'].replace('Na--','')

In [78]:
df['Phone_Number'] #done with phone number

0     123-545-5421
1     123-643-9775
2
3     123-543-2345
4     876-678-3469
5     304-762-2467
6
7     876-678-3469
8
9     123-545-5421
10
11
12    123-543-2345
13    876-678-3469
14    304-762-2467
15    123-545-5421
16    123-643-9775
17
18
19    876-678-3469
Name: Phone_Number, dtype: object

In [80]:
df['Address'].str.split(',', n = 2, expand = True) #Splitted the address

                       0              1       2
0         123 Shire Lane          Shire    None
1    93 West Main Street           None    None
2     298 Drugs Driveway           None    None
3       980 Paper Avenue   Pennsylvania   18503
4       123 Dragons Road           None    None
5       768 City Parkway           None    None
6      1209 South Street           None    None
7          98 Clue Drive           None    None
8       123 Middle Earth           None    None
9       25th Main Street       New York    None
10        612 Shire Lane          Shire    None
11  2394 Hogwarts Avenue           None    None
12      2039 Main Street           None    None
13      343 City Parkway           None    None
14         214 HR Avenue           None    None
15  2395 Hogwarts Avenue           None    None
16      121 Paper Avenue   Pennsylvania    None
17       3498 Super Lane           None    None
18                   N/a           None    None
19     910 Tatooine Road       Tatooine    None

In [82]:
df[['Street Address','State', 'Zip_Code']] = df['Address'].str.split(',', n = 2, expand = True)

In [84]:
df['Paying Customer'] = df['Paying Customer'].replace('Y', 'Yes')

df['Paying Customer']= df['Paying Customer'].replace('N', 'No')

In [86]:
df['Do_Not_Contact'] = df['Do_Not_Contact'].replace('Y','Yes')
df['Do_Not_Contact'] = df['Do_Not_Contact'].replace('N','No')

In [88]:
df = df.replace('N/a','') #replacing N/a with blanks on (entire table)

In [90]:
df = df.fillna('') # Fills NaN
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Street Address,State,Zip_Code
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,123 Shire Lane,Shire,
1,1002,Abed,Nadir,123-643-9775,93 West Main Street,No,Yes,93 West Main Street,,
2,1003,Walter,White,,298 Drugs Driveway,No,,298 Drugs Driveway,,
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Yes,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,Snow,876-678-3469,123 Dragons Road,Yes,No,123 Dragons Road,,
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,768 City Parkway,,
6,1007,Jeff,Winger,,1209 South Street,No,No,1209 South Street,,
7,1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,No,No,98 Clue Drive,,
8,1009,Gandalf,,,123 Middle Earth,Yes,,123 Middle Earth,,
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,25th Main Street,New York,
10,1011,Samwise,Gamgee,,"612 Shire Lane, Shire",Yes,No,612 Shire Lane,Shire,
11,1012,Harry,Potter,,2394 Hogwarts Avenue,Yes,,2394 Hogwarts Avenue,,
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,No,2039 Main Street,,
13,1014,Leslie,Knope,876-678-3469,343 City Parkway,Yes,No,343 City Parkway,,
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,No,No,214 HR Avenue,,
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,No,2395 Hogwarts Avenue,,
16,1017,Michael,Scott,123-643-9775,"121 Paper Avenue, Pennsylvania",Yes,No,121 Paper Avenue,Pennsylvania,
17,1018,Clark,Kent,,3498 Super Lane,Yes,,3498 Super Lane,,
18,1019,Creed,Braton,,,,Yes,,,
19,1020,Anakin,Skywalker,876-678-3469,"910 Tatooine Road, Tatooine",Yes,No,910 Tatooine Road,Tatooine,

In [92]:
df = df[df['Do_Not_Contact'].isin(['No',''])] #filtering

In [94]:
df.drop(columns = 'Address', inplace = True)

C:\Users\samee\AppData\Local\Temp\ipykernel_4420\2476542832.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns = 'Address', inplace = True)

In [96]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Street Address,State,Zip_Code
0,1001,Frodo,Baggins,123-545-5421,Yes,No,123 Shire Lane,Shire,
2,1003,Walter,White,,No,,298 Drugs Driveway,,
4,1005,Jon,Snow,876-678-3469,Yes,No,123 Dragons Road,,
6,1007,Jeff,Winger,,No,No,1209 South Street,,
7,1008,Sherlock,Holmes,876-678-3469,No,No,98 Clue Drive,,
8,1009,Gandalf,,,Yes,,123 Middle Earth,,
9,1010,Peter,Parker,123-545-5421,Yes,No,25th Main Street,New York,
10,1011,Samwise,Gamgee,,Yes,No,612 Shire Lane,Shire,
11,1012,Harry,Potter,,Yes,,2394 Hogwarts Avenue,,
12,1013,Don,Draper,123-543-2345,Yes,No,2039 Main Street,,
13,1014,Leslie,Knope,876-678-3469,Yes,No,343 City Parkway,,
14,1015,Toby,Flenderson,304-762-2467,No,No,214 HR Avenue,,
15,1016,Ron,Weasley,123-545-5421,No,No,2395 Hogwarts Avenue,,
16,1017,Michael,Scott,123-643-9775,Yes,No,121 Paper Avenue,Pennsylvania,
17,1018,Clark,Kent,,Yes,,3498 Super Lane,,
19,1020,Anakin,Skywalker,876-678-3469,Yes,No,910 Tatooine Road,Tatooine,

In [98]:
df.reset_index(drop = True, inplace = True)

In [100]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Street Address,State,Zip_Code
0,1001,Frodo,Baggins,123-545-5421,Yes,No,123 Shire Lane,Shire,
1,1003,Walter,White,,No,,298 Drugs Driveway,,
2,1005,Jon,Snow,876-678-3469,Yes,No,123 Dragons Road,,
3,1007,Jeff,Winger,,No,No,1209 South Street,,
4,1008,Sherlock,Holmes,876-678-3469,No,No,98 Clue Drive,,
5,1009,Gandalf,,,Yes,,123 Middle Earth,,
6,1010,Peter,Parker,123-545-5421,Yes,No,25th Main Street,New York,
7,1011,Samwise,Gamgee,,Yes,No,612 Shire Lane,Shire,
8,1012,Harry,Potter,,Yes,,2394 Hogwarts Avenue,,
9,1013,Don,Draper,123-543-2345,Yes,No,2039 Main Street,,
10,1014,Leslie,Knope,876-678-3469,Yes,No,343 City Parkway,,
11,1015,Toby,Flenderson,304-762-2467,No,No,214 HR Avenue,,
12,1016,Ron,Weasley,123-545-5421,No,No,2395 Hogwarts Avenue,,
13,1017,Michael,Scott,123-643-9775,Yes,No,121 Paper Avenue,Pennsylvania,
14,1018,Clark,Kent,,Yes,,3498 Super Lane,,
15,1020,Anakin,Skywalker,876-678-3469,Yes,No,910 Tatooine Road,Tatooine,

In [102]:
df = df[df['Phone_Number'] != '']

In [104]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Street Address,State,Zip_Code
0,1001,Frodo,Baggins,123-545-5421,Yes,No,123 Shire Lane,Shire,
2,1005,Jon,Snow,876-678-3469,Yes,No,123 Dragons Road,,
4,1008,Sherlock,Holmes,876-678-3469,No,No,98 Clue Drive,,
6,1010,Peter,Parker,123-545-5421,Yes,No,25th Main Street,New York,
9,1013,Don,Draper,123-543-2345,Yes,No,2039 Main Street,,
10,1014,Leslie,Knope,876-678-3469,Yes,No,343 City Parkway,,
11,1015,Toby,Flenderson,304-762-2467,No,No,214 HR Avenue,,
12,1016,Ron,Weasley,123-545-5421,No,No,2395 Hogwarts Avenue,,
13,1017,Michael,Scott,123-643-9775,Yes,No,121 Paper Avenue,Pennsylvania,
15,1020,Anakin,Skywalker,876-678-3469,Yes,No,910 Tatooine Road,Tatooine,

In [106]:
df.to_excel(r"C:\Users\Admin\Downloads\cleaned_data.xlsx", index=True, engine="openpyxl")

OSError: Cannot save file into a non-existent directory: 'C:\Users\Admin\Downloads'